<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>SCAD Final</title>
  
  
  <link href="../static/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../static/stylesheets/styles.css" rel="stylesheet" type="text/css">
  <link href="../static/stylesheets/myCss.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAuBwhpirNbGCekUZsZ9f2m1cycXasj8oE"></script>
</head>

<body>
<div class="navigate">
  <div class="box" onclick="slide()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="headers" href="#">Pic Map</div>
</div>
<div id="map" class="map"></div> 
<div class="toolbar" id="toolbar">
  <p id="status"></p>
  <img id="user_photo"></img>
  <p id="user_name"></p>
  <div id="list"></div>
  <div class="cross" onclick="slide()">
    <div class="line1" id="line1"></div>
    <div class="line2" id="line2"></div>
  </div>
</div>
<div id="friend">

</div>
<div id="inviteFriends">+</div>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="../static/js/fb.js"></script>
<script src="../static/js/exif.js"></script>
<script src="../static/js/myMap.js"></script>
    

</body>
</html>
